/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*= require bootstrap-wysihtml5
*/
@import "bootstrap";

.wysihtml5 {
  width: 100%;
}

.navbar .container {
  width: 940px;
}
