<!DOCTYPE html>
<html>
<head>
  <title>StaticBlocks</title>
  <%= stylesheet_link_tag    "static_blocks/application", :media => "all" %>
  <%= javascript_include_tag "static_blocks/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
