<h1>Showing Static Block</h1>

<div>
  <p>
    <b>Title:</b>
    <%= @static_block.title %>
  </p>

  <p>
    <b>Status:</b>
    <%= @static_block.status %>
  </p>

  <p>
    <%= link_to 'Edit', edit_static_block_path(@static_block), class: "btn btn-primary btn-warning" %>
  </p>
</div>

<hr>

<div class="well">
  <%= raw(@static_block.content) %>
</div>
