<h1>Dummy app Info#index</h1>

<div id="locale">
  Language

  <%= link_to_unless_current "English", locale: "en" %> |
  <%= link_to_unless_current "Wookieespeak", locale: "wk" %>
</div>

<div>
  <%=raw static_block_for('foo') %>
</div>

<div>
  <%= t :hello %>
</div>
